<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Khoa's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="/static/photo1.png" alt="my profile picture" width="200" height="200"></td>
        <td><h1>Khoa N.</h1>
        <p>Software Engineer </p>
          <p><strong><a href="https://github.com/khoaddnguyen">Github</a></strong></p>
        <p>I am a software engineer. I ❤️ coffee and all things technology.</p></td>
      </tr>
    </table>
    <hr>
    <h3>Education</h3>
    <ul>
      <li>MS. Information Technology - Software Engineering: University of Maryland</li>
      <li>BS. Accounting: University of Maryland</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="15">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2020 - now</td>
          <td>Senior Consultant at Protiviti</td>
        </tr>
        <tr>
          <td>2017 - 2020</td>
          <td>Senior Auditor at BDO USA, Marcum, and KPMG</td>
        </tr>
        <tr>
          <td>2014 - 2016</td>
          <td>Library Assistant Intern at The National Library of Medicines (NIH/NLM)</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="15">
      <tr>
        <td>Python Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development (HTML/CSS/Javascript React)</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Financial Reporting and Auditing</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>

    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
